[
  {
    "id": -1,
    "name": "目录",
    "tablename": "",
    "action": "",
    "isNeed": true
  },
  {
    "id": 1,
    "name": "用户角色表",
    "tablename": "admin_role",
    "action": "AdminRole",
    "isNeed": true
  },
  {
    "id": 2,
    "name": "管理员",
    "tablename": "admin_user",
    "action": "AdminUser",
    "isNeed": true
  },
  {
    "id": 3,
    "name": "栏目",
    "tablename": "category",
    "action": "Category",
    "isNeed": true
  },
  {
    "id": 4,
    "name": "图片",
    "tablename": "picture",
    "action": "Picture",
    "isNeed": true
  },
  {
    "id": 5,
    "name": "相册",
    "tablename": "gallery",
    "action": "Gallery",
    "isNeed": true
  },
  {
    "id": 6,
    "name": "标签",
    "tablename": "tag",
    "action": "Tag",
    "isNeed": true
  },

  {
    "id": 7,
    "name": "单页面",
    "tablename": "single",
    "action": "Single",
    "isNeed": true
  },
  {
    "id": 8,
    "name": "文章",
    "tablename": "article",
    "action": "Article",
    "isNeed": true
  },
  {
    "id": 9,
    "name": "视频表",
    "tablename": "video",
    "action": "Video",
    "isNeed": true
  },
  {
    "id": 10,
    "name": "系统信息表",
    "tablename": "system",
    "action": "System",
    "isNeed": true
  },
  {
    "id": 11,
    "name": "轮换图表",
    "tablename": "carousel",
    "action": "Carousel",
    "isNeed": true
  },
  {
    "id": 12,
    "name": "url表",
    "tablename": "url",
    "action": "Url",
    "isNeed": true
  },
  {
    "id": 13,
    "name": "特殊图片集",
    "tablename": "",
    "action": "",
    "isNeed": true
  }
]